on:
  schedule:
  - cron: '*/30 * * * *'
name: Excavator
jobs:
  excavate:
    name: Excavate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Excavate
        uses: Ash258/Scoop-GithubActions@stable
        env:
          GITH_EMAIL: hi@iszy.xyz
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SKIP_UPDATED: "1"
